<h1 style="color: red; text-align: center; font-size: 100px; margin-top: 40px;">Ticket not found</h1>
<h4 style="color: yellow; text-align: center;">The total number of tickets is 70. Please search within this range</h4>