<h2 style="text-align: center; font-size: 56px; color: green;vmargin-top: 40px;">Update succesfull</h2>
<br>
<form asp-controller="Users" asp-action="Profile">
    <button class="btn btn-danger" type="submit" style="width: 30%; margin: 0 auto; hieght: 20px; text-align: center;">Ok</button>
</form>